<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.andresrinivasan.alfred-new-iterm-window</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0A13B387-A2C2-430E-9798-2604A55273F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0AB4D80-C4BF-42CC-A46D-3CB6BC1BEB11</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>46B323CC-DC16-4CF2-A2FB-15D4A55AE56B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>526544FC-476D-42D7-8EDD-76EE5D00151B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>526544FC-476D-42D7-8EDD-76EE5D00151B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0AB4D80-C4BF-42CC-A46D-3CB6BC1BEB11</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>81C4D430-5AB8-4015-923B-3946D99D0E30</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>46B323CC-DC16-4CF2-A2FB-15D4A55AE56B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9AD04C8B-452D-4590-9297-B352C084E0F0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0AB4D80-C4BF-42CC-A46D-3CB6BC1BEB11</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B8E713BD-32F8-4D76-8F5A-3F8C8F69ADCC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>46B323CC-DC16-4CF2-A2FB-15D4A55AE56B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C0A69262-ACB4-40BB-A185-BE7345CAC838</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A13B387-A2C2-430E-9798-2604A55273F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>81C4D430-5AB8-4015-923B-3946D99D0E30</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Use default profile in last Finder directory</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E22A9554-0E69-406D-8738-BD073B974D35</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9AD04C8B-452D-4590-9297-B352C084E0F0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B8E713BD-32F8-4D76-8F5A-3F8C8F69ADCC</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>André Srinivasan</string>
	<key>description</key>
	<string>Create a new iTerm window with either the default profile or a selected profile</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>New iTerm Window</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ni</string>
				<key>subtext</key>
				<string>Use default profile</string>
				<key>text</key>
				<string>New iTerm Window</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C0A69262-ACB4-40BB-A185-BE7345CAC838</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>profile</key>
					<string>ITERM_DEFAULT_PROFILE</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0A13B387-A2C2-430E-9798-2604A55273F1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>profile</key>
					<string>ITERM_DEFAULT_PROFILE</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>81C4D430-5AB8-4015-923B-3946D99D0E30</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python_version=$(ls ~/Library/Application\ Support/iTerm2/iterm2env/versions/*/bin/python3 | /usr/bin/sed -E 's/.*[\/](3[0-9.]+).*/\1/' | /usr/bin/sort  -t. --version-sort | /usr/bin/tail -n 1)
python=~/Library/Application\ Support/iTerm2/iterm2env/versions/${python_version}/bin/python3


${python} new_iterm.py ${profile} ${directory}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D0AB4D80-C4BF-42CC-A46D-3CB6BC1BEB11</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ni</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python_version=$(ls ~/Library/Application\ Support/iTerm2/iterm2env/versions/*/bin/python3 | /usr/bin/sed -E 's/.*[\/](3[0-9.]+).*/\1/' | /usr/bin/sort  -t. --version-sort | /usr/bin/tail -n 1)
python=~/Library/Application\ Support/iTerm2/iterm2env/versions/${python_version}/bin/python3

${python} list_profiles.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Select profile by typing a few characters from the name</string>
				<key>title</key>
				<string>New iTerm Window</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E22A9554-0E69-406D-8738-BD073B974D35</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>profile</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9AD04C8B-452D-4590-9297-B352C084E0F0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/finder.windows.current</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>46B323CC-DC16-4CF2-A2FB-15D4A55AE56B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>directory</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>526544FC-476D-42D7-8EDD-76EE5D00151B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>profile</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B8E713BD-32F8-4D76-8F5A-3F8C8F69ADCC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>At some point, Miro Mannino's excellent terminal workflow broke. I'm not sure if it was Alfred or iTerm or both. I cloned the repo with the intent to figure out what changed and hopefully find a quick fix. I realized the way iTerm profiles were stored changed so this was going to be hard. Then I realized that iTerm had introduced a Python API that made rewriting from scratch more or less straightforward.</string>
	<key>uidata</key>
	<dict>
		<key>0A13B387-A2C2-430E-9798-2604A55273F1</key>
		<dict>
			<key>xpos</key>
			<real>230</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>46B323CC-DC16-4CF2-A2FB-15D4A55AE56B</key>
		<dict>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>526544FC-476D-42D7-8EDD-76EE5D00151B</key>
		<dict>
			<key>xpos</key>
			<real>490</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>81C4D430-5AB8-4015-923B-3946D99D0E30</key>
		<dict>
			<key>xpos</key>
			<real>230</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>9AD04C8B-452D-4590-9297-B352C084E0F0</key>
		<dict>
			<key>xpos</key>
			<real>230</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>B8E713BD-32F8-4D76-8F5A-3F8C8F69ADCC</key>
		<dict>
			<key>xpos</key>
			<real>230</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>C0A69262-ACB4-40BB-A185-BE7345CAC838</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Using the keyword ("ni") without any additional parameters opens an iTerm window using the default profile.</string>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>115</real>
		</dict>
		<key>D0AB4D80-C4BF-42CC-A46D-3CB6BC1BEB11</key>
		<dict>
			<key>note</key>
			<string>The underlying Python script assumes ${profile} and ${directory} are set to the desired profile and working directory, respectively.</string>
			<key>xpos</key>
			<real>575</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>E22A9554-0E69-406D-8738-BD073B974D35</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Starting with the keyword ("ni") and then hitting space provides the opportunity to select a profile by typing a few characters from the profile name.</string>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/andresrinivasan/alfred-new-iterm-window/</string>
</dict>
</plist>
