<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.andresrinivasan.alfred-toggle-caffeine</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict/>
	<key>createdby</key>
	<string>André Srinivasan</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Toggle Caffeine</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>0</integer>
				<key>confirm</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemcommand</string>
			<key>uid</key>
			<string>587A50A9-A931-4CE6-A1D9-CBE2855CD13C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>D1A15193-015F-42F7-849E-20E59776D75D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>587A50A9-A931-4CE6-A1D9-CBE2855CD13C</key>
		<dict>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>D1A15193-015F-42F7-849E-20E59776D75D</key>
		<dict>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
